@import '../../layouts/base.less';

.contact_us {
  .topic {
    .container();
    clear: both;
    text-align: center;
    background-color: #ffffff;
    padding: 75px 0;
    .above {
      color: #c64945;
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    h2 {
      background-position: center bottom;
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-bottom: 75px;
      background-image: url(/images/trenner_rot.png);
      background-repeat: no-repeat;
      font-size: 32px;
      font-family: 'Raleway', sans-serif;
      line-height: 42px;
      font-weight: 300;
      color: rgb(45, 57, 63);
    }
  }
}
