<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Holdoor Medical</title>
  <!-- <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" /> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,500|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="root"></div>
</body>
</html>